/* Main container */

.main-container {
  width: 960px;
  margin: auto;
}

/*    CARD      */

.card-container {
  width: 400px;
  background-color: gray;
  height: 250px;
  margin: 10px auto;
  border-radius: 15px;
}

/* Chip */

.card-chip {
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
}

.chip-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Input */

.input {
  width: 400px;
  height: 38px;
}

/* INPUT PART */

/* Card Number */

/* Input container */

.input-container {
  display: flex;
  width: 400px;
  flex-direction: column;
  margin: auto;
}

.input-container div {
  margin: 0 auto;
  /* flex: 1; */
}

.card-whole-number {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-whole-number div {
  /* width: 400px; */
  /* flex: 1 */
}

.card-whole-number input {
  width: 80px;
  /* flex: 1 */
}

/* Add card */

.add-card-container {
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 250px;
  background-color: gray;
}

.plus-image {
  width: 25%;
  height: 25%;
  position: center;
  object-fit: contain;
}